annotated-types==0.7.0
pydantic==2.10.3
sympy==1.13.1
sympy==1.13.3
pillow==10.2.0
pillow==11.0.0
seaborn==0.13.2
nvidia-cuda-runtime-cu11==11.8.89
filelock==3.16.1
filelock==3.13.1
Jinja2==3.1.4
Jinja2==3.1.3
triton==3.1.0
triton==3.1.0
stack-data==0.6.2
hpack==4.0.0
pure_eval==0.2.3
pandas==2.2.3
nvidia-cudnn-cu11==9.1.0.70
opencv-python-headless==4.10.0
gitdb==4.0.11
matplotlib==3.9.3
matplotlib==3.9.2
torchaudio==2.5.1
torchaudio==2.5.1+cu118
jupyter_core==5.7.2
hyperframe==6.0.1
kiwisolver==1.4.7
ultralytics==8.3.40
colorama==0.4.6
executing==2.1.0
pytz==2024.2
pytz==2024.1
mpmath==1.3.0
jedi==0.19.2
pyparsing==3.2.0
click==8.1.7
nvidia-nccl-cu11==2.21.5
idna==3.10
mkl-service==2.4.0
scipy==1.14.1
pycparser==2.22
setuptools==75.1.0
openpyxl==3.1.5
Pygments==2.18.0
nvidia-curand-cu11==10.3.0.86
pydantic_core==2.27.1
charset-normalizer==3.4.0
ultralytics-thop==2.0.12
asttokens==3.0.0
exceptiongroup==1.2.2
typing_extensions==4.12.2
typing_extensions==4.9.0
python-dateutil==2.9.0.post0
tzdata==2024.2
docker-pycreds==0.4.0
fonttools==4.55.1
PyYAML==6.0.2
nvidia-cublas-cu11==11.11.3.6
ipython==8.30.0
unicodedata2==15.1.0
certifi==2024.8.30
fsspec==2024.2.0
protobuf==5.29.1
ptyprocess==0.7.0
tornado==6.4.2
pickleshare==0.7.5
opencv-python==4.10.0
opencv-python==4.10.0.84
networkx==3.2.1
networkx==3.4.2
torchvision==0.20.1
torchvision==0.20.1+cu118
wheel==0.44.0
pip==24.2
parso==0.8.4
nvidia-cuda-nvrtc-cu11==11.8.89
smmap==5.0.1
zstandard==0.23.0
requests==2.32.3
statsmodels==0.14.4
mkl-fft==1.3.1
MarkupSafe==2.1.5
MarkupSafe==3.0.2
gmpy2==2.1.2
comm==0.2.2
cycler==0.12.1
prompt_toolkit==3.0.48
nibabel==5.3.2
urllib3==2.2.3
pexpect==4.9.0
torch==2.5.1+cu118
torch==2.5.1
numpy==1.26.3
numpy==1.24.3
importlib_metadata==8.5.0
nest_asyncio==1.6.0
h2==4.1.0
platformdirs==4.3.6
traitlets==5.14.3
Brotli==1.1.0
wcwidth==0.2.13
patsy==1.0.1
jupyter_client==8.6.3
decorator==5.1.1
psutil==6.1.0
contourpy==1.3.1
setproctitle==1.3.4
six==1.16.0
GitPython==3.1.43
nvidia-cuda-cupti-cu11==11.8.87
wandb==0.19.1
pyzmq==25.1.2
py-cpuinfo==9.0.0
nvidia-cusolver-cu11==11.4.1.48
debugpy==1.8.9
matplotlib-inline==0.1.7
sentry-sdk==2.19.2
cffi==1.17.1
munkres==1.1.4
mkl-random==1.2.2
ipykernel==6.29.5
packaging==24.2
zipp==3.21.0
et_xmlfile==2.0.0
PySocks==1.7.1
nvidia-nvtx-cu11==11.8.86
importlib_resources==6.4.5
nvidia-cufft-cu11==10.9.0.58
tqdm==4.67.1
nvidia-cusparse-cu11==11.7.5.86
m_yolo==0.1
