# Ignore medical image files (NIfTI format)
*.csv
*.gz
*.nii
*.idx
*.npy
*.pack
*.rev
*.sample
*.tiff
*.zip
!requirements.txt
*.pt
.png 
.jpg 
CT/runs
CT/dataset
CT/New
CT/dataset_nii
CT/Total_segmentator
CT/wandb
CT/Your_Project_Name
Total_segmentator_MRI/dataset
Total_segmentator_MRI/dataset_nii
Total_segmentator_MRI/MRI_data


